*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("./assets/destination/background-destination-mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 0 3rem;
}
.menu-icon .icon-close.hide{
    display: none;
}
.menu-icon .icon-hamburger.show{
    display: block;
}
.menu-icon .icon-hamburger.hide{
    display: none;
}
.menu-icon .icon-close.show{
    display: block;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 2rem 2rem;
}
.menu-icon img{
    margin-top: -1rem;
    margin-left: -5rem;
}
nav ul{
    display: none;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 1rem 2rem;
    background: white;
    opacity: 0.8;
}
nav ul.active{
    display: flex;
}
nav ul a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
}
main section p,
main section h1{
    text-align: center;
    color: white;
    margin: 2rem 0;
    font-size: 1.5rem;
}
main section{
    margin: 3rem auto;
    width: 50%;
}
section ul{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}
section ul a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}


@media (min-width: 768px){
    body{
        background: url("./assets/destination/background-destination-desktop.jpg");
    }
    main{
        flex-direction: row;
    }
}