*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("./assets/home/background-home-mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
}
.menu-icon .icon-close.hide{
    display: none;
}
.menu-icon .icon-hamburger.show{
    display: block;
}
.menu-icon .icon-hamburger.hide{
    display: none;
}
.menu-icon .icon-close.show{
    display: block;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 2rem 2rem;
}
.menu-icon img{
    margin-top: -1rem;
    margin-left: -5rem;
}
nav ul{
    display: none;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 1rem 2rem;
    background: white;
    opacity: 0.8;
}
nav ul.active{
    display: flex;
}
nav ul a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
}
main section p,
main section h1{
    text-align: center;
    color: white;
    margin: 2rem 0;
    font-size: 1.5rem;
}
main section{
    margin: 3rem 0;
}
main section div{
    background-color: #fff;
    border-radius: 50%;
    padding: 10rem 5rem ;
}
main section div a{
    text-decoration: none;
    color: black;
    font-size: 5rem;
}
@media (min-width: 768px){
    body{
        background: url("./assets/home/background-home-desktop.jpg");
    }
    .menu-icon {
        display: none;
    }
    nav ul{
        display: flex;
        position: static;
        flex-direction: row;
        background: none;
        opacity: 1;
        width: auto;
        background-color: #3e4c66ae;
    }
    nav ul a{
        color: white;
    }
    /* main{
        margin: 0 10rem;
    } */
    main{
        display: flex;
        flex-direction: row;
    }
    main section{
        width: 50%;
    }
    main section p,
    main section h1{
        font-size: 2rem;
    }
    main section div{
        margin-left: 10%;
        padding: 2rem 2rem ;
    }
    main section div a{
        font-size: 2rem;
    }
}